.form{
    position: absolute;
    top: 25%;
    left: 30%;
    right: 30%;
    background-color: white;
    border: black 1px solid;
    box-shadow: 12px 12px 2px 1px rgba(255, 255, 255, 0.2);
}
.titre, p{
    text-align: center;
}
.input {
    padding: 2%;
    display: grid;
    grid-row-gap: 3%;
    text-align: center;
    width: 100%;
}
.button{
    align-self: center;
    width: 75%;
}
#b-connexion{
    border: 2px solid lightgoldenrodyellow;
}
#b-connexion:hover{
    background-color: lightgoldenrodyellow;
}
#b-inscription{
    border: 2px solid lightskyblue;
}
#b-inscription:hover{
    background-color: lightskyblue;
}
