@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #2f6b89;
    overflow: hidden;
}

.background span {
    width: 12vmin;
    height: 12vmin;
    border-radius: 12vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 27;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #4fbf8f;
    top: 48%;
    left: 7%;
    animation-duration: 120s;
    animation-delay: -65s;
    transform-origin: 24vw -5vh;
    box-shadow: -24vmin 0 3.9772916300166554vmin currentColor;
}
.background span:nth-child(1) {
    color: #4fbf8f;
    top: 66%;
    left: 34%;
    animation-duration: 108s;
    animation-delay: -46s;
    transform-origin: 20vw -9vh;
    box-shadow: -24vmin 0 3.454723697684269vmin currentColor;
}
.background span:nth-child(2) {
    color: #e8f075;
    top: 97%;
    left: 86%;
    animation-duration: 43s;
    animation-delay: -185s;
    transform-origin: 4vw -20vh;
    box-shadow: 24vmin 0 3.564372193334777vmin currentColor;
}
.background span:nth-child(3) {
    color: #4fbf8f;
    top: 24%;
    left: 39%;
    animation-duration: 114s;
    animation-delay: -197s;
    transform-origin: -18vw 23vh;
    box-shadow: -24vmin 0 3.3048167957547556vmin currentColor;
}
.background span:nth-child(4) {
    color: #e8f075;
    top: 4%;
    left: 10%;
    animation-duration: 125s;
    animation-delay: -72s;
    transform-origin: -20vw 3vh;
    box-shadow: 24vmin 0 3.2921349810885054vmin currentColor;
}
.background span:nth-child(5) {
    color: #4fbf8f;
    top: 97%;
    left: 55%;
    animation-duration: 200s;
    animation-delay: -175s;
    transform-origin: 16vw -12vh;
    box-shadow: -24vmin 0 3.708209779844333vmin currentColor;
}
.background span:nth-child(6) {
    color: #e8f075;
    top: 91%;
    left: 30%;
    animation-duration: 199s;
    animation-delay: -200s;
    transform-origin: -21vw 0vh;
    box-shadow: -24vmin 0 3.3030419504579056vmin currentColor;
}
.background span:nth-child(7) {
    color: #f95d9b;
    top: 72%;
    left: 69%;
    animation-duration: 124s;
    animation-delay: -79s;
    transform-origin: 19vw -5vh;
    box-shadow: -24vmin 0 3.436504223447818vmin currentColor;
}
.background span:nth-child(8) {
    color: #e8f075;
    top: 44%;
    left: 62%;
    animation-duration: 11s;
    animation-delay: -16s;
    transform-origin: 18vw 0vh;
    box-shadow: -24vmin 0 3.916685141374164vmin currentColor;
}
.background span:nth-child(9) {
    color: #f95d9b;
    top: 37%;
    left: 61%;
    animation-duration: 155s;
    animation-delay: -40s;
    transform-origin: -5vw 15vh;
    box-shadow: 24vmin 0 3.226940343951242vmin currentColor;
}
.background span:nth-child(10) {
    color: #4fbf8f;
    top: 5%;
    left: 6%;
    animation-duration: 51s;
    animation-delay: -129s;
    transform-origin: -18vw 1vh;
    box-shadow: 24vmin 0 3.760144278657524vmin currentColor;
}
.background span:nth-child(11) {
    color: #4fbf8f;
    top: 40%;
    left: 30%;
    animation-duration: 176s;
    animation-delay: -20s;
    transform-origin: 5vw -24vh;
    box-shadow: -24vmin 0 3.841274178757341vmin currentColor;
}
.background span:nth-child(12) {
    color: #f95d9b;
    top: 42%;
    left: 97%;
    animation-duration: 145s;
    animation-delay: -148s;
    transform-origin: 21vw 8vh;
    box-shadow: 24vmin 0 3.9744408996861624vmin currentColor;
}
.background span:nth-child(13) {
    color: #4fbf8f;
    top: 20%;
    left: 76%;
    animation-duration: 95s;
    animation-delay: -149s;
    transform-origin: -4vw 14vh;
    box-shadow: 24vmin 0 3.786297607247221vmin currentColor;
}
