html,
body {
    height: 98%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#title {
    text-align: center;
    background-image: linear-gradient(to right, blue, white, red);
    color: black;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flexbox;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 1rem;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #42BF14;
}

.button1:hover {
    background-color: #42BF14;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #0000FF;
}

.button2:hover {
    background-color: #0000FF;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #F4661B;
}

.button3:hover {
    background-color: #F4661B;
    color: white;
}